{% layout 'layouts/base.liquid'%}

{% block head %}
    <link rel="preload" as="image" href="https://fdnd-agency.directus.app/assets/{{ exhibit.cover }}?format=avif&width=1200&quality=70">
{% endblock %}

{% block content %}
<main>
    <section class="hero img-wrapper img-wrapper--hero">
        <svg class="spinner" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32">
                <path fill="currentColor" d="M16 12.44a3.565 3.565 0 0 1 3.566 3.566A3.565 3.565 0 0 1 16 19.572a3.565 3.565 0 0 1-3.566-3.566A3.565 3.565 0 0 1 16 12.439Zm-1.553 11.375L16 32l1.553-8.185 4.567 6.968-1.695-8.157 6.888 4.687-4.692-6.888 8.162 1.695-6.974-4.567L32 16l-8.19-1.553 6.973-4.567-8.162 1.695 4.692-6.888-6.888 4.687 1.695-8.157-4.567 6.968L16 0l-1.553 8.185L9.88 1.217l1.695 8.157-6.888-4.687 4.692 6.888L1.217 9.88l6.974 4.567L0 16l8.19 1.553-6.973 4.567 8.162-1.695-4.692 6.888 6.888-4.687-1.695 8.157 4.567-6.968Z"/>
        </svg>
        {% render 'partials/picture.liquid',
            image_src: exhibit.cover,
            alt_text: exhibit.title,
            class: 'hero-image',
            fetch_type: 'high',
            decoding_type: 'sync',
        %}
    </section>
    
    <article class="exhibit">
        <aside class="exhibit-sidebar">
            <section class="exhibit-intro">
                <p class="exhibit-period">{{ exhibit.period }}</p>
                <h1 class="exhibit-title">{{ exhibit.title }}</h1>
                <p class="exhibit-creator">{{ exhibit.creators.first.teylers_museum_persons_id.last_name }}, {{ exhibit.creators.first.teylers_museum_persons_id.first_name }}</p>
                <a class="btn btn--primary exhibit-link" href="/niet-beschikbaar">Bekijk onze hele collectie</a>
            </section>

            <dl class="info-list">
                <div class="info-item">
                    <dt class="info-label">Objecttype</dt>
                    <dd>{{ exhibit.object_type }}</dd>
                </div>

                <div class="info-item item-list">
                    <dt class="info-label">Maker(s)</dt>
                    <dd>
                        <ul class="creators-list">
                            {% for creator in exhibit.creators %}
                                <li class="creator-item">
                                    <p>{{ creator.teylers_museum_persons_id.last_name }}, {{ creator.teylers_museum_persons_id.first_name }} ({{ creator.teylers_museum_persons_id.birth_year }} - {{ creator.teylers_museum_persons_id.death_year }})</p>
                                    <p>{{ creator.teylers_museum_persons_id.roles | capitalize }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </dd>
                </div>
            </dl>
            <button class="btn btn--secondary btn-more">Meer details</button>
            <button class="btn btn--secondary btn-less">Minder details</button>
        </aside>

        <section class="exhibit-content">
            {% if exhibit.is_on_display %}
                <p class="exhibit-status">Nu te zien in het museum</p>
            {% else %}
                <p class="exhibit-status">Momenteel niet te zien in het museum</p>
            {% endif %}

            {% for block in exhibit.content_blocks %}
                {% if block.block_type == 'paragraph' %}
                    <p>{{ block.text }}</p>
                {% elsif block.block_type == 'heading' %}
                    <h2>{{ block.text }}</h2>
                {% elsif block.block_type == 'quote' %}
                    <blockquote>{{ block.text }}</blockquote>
                {% endif %}
            {% endfor %}
        </section>
    </article>
</main>


<section class="timeline">
    <aside class="table-of-content">
        <h2>inhoud</h2>
        <nav>
            <ol>
                {% for section in sections %}
                    <li><a href="#{{ section.slug }}">{{ section.title }}</a></li>
                {% endfor %}
            </ol>
        </nav>
    </aside>

    <article class="timeline">
        {% for section in sections %}
            <section id="{{ section.slug }}">
                <p>{{ section.start_year }} - {{ section.end_year }}</p>
                <h2>{{ section.title }}</h2>
                <p>{{ section.summary }}</p>

                {% if section.cover %}
                    <div class="img-wrapper img-wrapper--fit">
                        <svg class="spinner" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32">
                            <path fill="currentColor" d="M16 12.44a3.565 3.565 0 0 1 3.566 3.566A3.565 3.565 0 0 1 16 19.572a3.565 3.565 0 0 1-3.566-3.566A3.565 3.565 0 0 1 16 12.439Zm-1.553 11.375L16 32l1.553-8.185 4.567 6.968-1.695-8.157 6.888 4.687-4.692-6.888 8.162 1.695-6.974-4.567L32 16l-8.19-1.553 6.973-4.567-8.162 1.695 4.692-6.888-6.888 4.687 1.695-8.157-4.567 6.968L16 0l-1.553 8.185L9.88 1.217l1.695 8.157-6.888-4.687 4.692 6.888L1.217 9.88l6.974 4.567L0 16l8.19 1.553-6.973 4.567 8.162-1.695-4.692 6.888 6.888-4.687-1.695 8.157 4.567-6.968Z"/>
                        </svg>
                        {% render 'partials/picture.liquid',
                            image_src: section.cover,
                            alt_text: section.title,
                            width: 800,
                            height: 600,
                            sizes: "(max-width: 600px) 400px, 800px",
                            loading_type: 'lazy'
                        %}
                    </div>
                {% endif %}

            </section>
        {% endfor %}
    </article>

    {% assign sectionId = question.exhibit_section | append: '' %}
    {% assign linkedSection = sections | where: 'id', sectionId | first %}


</section>


{% comment %}
<section class="timeline">

        
    <aside>
        <ol>
            {% for section in sections %}
            <li><a href="#{{ section.slug }}">{{ section.title }}</a></li>
            {% endfor %}
        </ol>
    </aside>

    <article>
        {% for section in sections %}
            <section id="{{ section.slug }}">

                <h2>{{ section.title }}</h2>
                <p>{{ section.summary }}</p>

                {% if section.cover %}
                    <div class="img-wrapper img-wrapper--fit">
                        <svg class="spinner" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32">
                            <path fill="currentColor" d="M16 12.44a3.565 3.565 0 0 1 3.566 3.566A3.565 3.565 0 0 1 16 19.572a3.565 3.565 0 0 1-3.566-3.566A3.565 3.565 0 0 1 16 12.439Zm-1.553 11.375L16 32l1.553-8.185 4.567 6.968-1.695-8.157 6.888 4.687-4.692-6.888 8.162 1.695-6.974-4.567L32 16l-8.19-1.553 6.973-4.567-8.162 1.695 4.692-6.888-6.888 4.687 1.695-8.157-4.567 6.968L16 0l-1.553 8.185L9.88 1.217l1.695 8.157-6.888-4.687 4.692 6.888L1.217 9.88l6.974 4.567L0 16l8.19 1.553-6.973 4.567 8.162-1.695-4.692 6.888 6.888-4.687-1.695 8.157 4.567-6.968Z"/>
                        </svg>
                        {% render 'partials/picture.liquid',
                            image_src: section.cover,
                            alt_text: section.title,
                            width: 800,
                            height: 600
                        %}
                    </div>
                {% endif %}

            </section>
        {% endfor %}
    </article>

    <section id="quiz">
        <form action="/quiz-attempt" method="POST">
            <input type="hidden" name="exhibit_id" value="{{ exhibit.id }}">
            <input type="hidden" name="exhibit_slug" value="{{ exhibit.slug }}">
            <button>Start quiz</button>
        </form>
        {% if completed %}
            <p>Je score is {{ attempt.score }} / {{ totalQuestions }} </p>
        {% elsif attempt_id %}
            <form action="/quiz-answer" method="POST">
                <input type="hidden" name="attempt_id" value="{{ attempt_id }}">
                <input type="hidden" name="exhibit_slug" value="{{ exhibit.slug }}">
                <input type="hidden" name="exhibit_id" value="{{ exhibit.id }}">
                {% for question in questions %}
                <fieldset class="quiz-vraag">
                    <legend>{{ question.question }}</legend>
                    {% for option in question.options %}
                        <label>
                            <input type="radio" name="question_{{ question.id }}_answer" value="{{ option.key }}">
                            <span>{{ option.key }}</span> {{ option.answer }}
                        </label>
                    {% endfor %}
                    <a href="#section-{{ question.exhibit_section }}">Lees de bijbehorende tekst</a>
                </fieldset>
                {% endfor %}
                <button type="submit">Bereken mijn score / Bekijk resulaten</button>
            </form>
        {% endif %}
    </section> 
</section>

{% endcomment %}

{% endblock %}